.header-section{
  //position: absolute;
  //width: 100%;
  //float: left;
 .top-menu{
   background-color: $orangeColor;
   .call{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 92%;
     .call-link{
       text-decoration: none;
     }
   }
 }
}
.navbar{
  display: flex;
  justify-content: space-between;
  .navbar-brand{
    font-size: $poppinsSemiBold;
  }
  .navbar-nav{
    .nav-item{
      .nav-link{
        font-family: $poppinsRegular;
      }
    }
  }
}
@media screen and (max-width: 991px){
.call{
  font-size: 1.3rem !important;
}
  .banner-section{
    margin-top: -76px !important;
  }
  nav li{
    float: none;
  }
  nav {
    margin: 0 -15px !important;
    position: relative;

    .navbar-nav{
      display: none;
      background-color: $orangeColor !important;
    }
  .navToggle {
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 99999;
    padding-right: 45px !important;
    .icon {
      height: 2px;
      background-color: $whiteColor !important;
      width: 30px;
      margin-bottom: 5px;
      transition: .4s all;
    }
  }
  &.active {
    background-color: $orangeColor !important;
    z-index: 9;
    padding-right: 40px !important;
    padding-left: 40px !important;
    .navbar-nav{
      display: block !important;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      height: 100vh;
    }
    .icon {
      &:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 5px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 5px;
      }
    }
  }
}
}
@media screen and (max-width: 768px){
  .banner-section{
    margin-top: -61px !important;
  }
}
