/*font-family*/
$aznb:jaznb;
$poppinsRegular:Poppins-Regular;
$poppinsMedium:Poppins-Medium;
$poppinsSemiBold:Poppins-SemiBold;

/*colors*/
$whiteColor:#fff;
$orangeColor:#FD750E;
$transparentColor:transparent;
$grayColor: #707070;
$grayLightColor:#A19B9B;
$lightGray:#F7F5F5;
$darkGray:#95989A;

/*font-size*/
$middleSize:2.1rem;
$largeSize:4rem;
